################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PedidoCompra/.vs
/PedidoCompra/PagamentoApi/bin/Debug/netcoreapp2.1
/PedidoCompra/PagamentoApi/obj
